* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}